* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* margin-top: 100px; */
  /* width: 100%; */
  /* height: 100vh; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  color: #222227;
}

.calendar {
  width: 300px;
  height: 350px;
  background-color: #f8f8f8;
  box-shadow: 0 .5rem 3rem rgba(0, 0, 0, 0.3);

}

.month {
  /* font-weight: 1000; */
  width: 300px;
  height: 70px;
  background-color: #0190B0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  color: #f8f8f8;
  /* text-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.5); */
}

.date h1{
  font-weight: 1000;
}

.month i {
  font-size: 14px;
  cursor: pointer;
  color: #f8f8f8;
}

.month h1 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
  font-weight: 500;

}

.month p {
  font-size: 16px;
  font-weight: 500;

}

.weekdays {
  width: 100%;
  height: 15px;
  padding: 12px 5px;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 12.25px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  width: calc(290px/7);
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, .5); */
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
.days div {
  font-size: 12.25px;
  margin: 5px;
  width: calc(220px / 7);
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, .5); */
  transition: background-color .2s;
}

.days div:hover:not(.today) {
  background-color: #262626;
  border: .2rem solid #777;
  cursor: pointer;
  color:#f8f8f8;
}

.prev-date, .next-date {
  opacity: 0.5;
}

.today {
  background-color: #0190B0;
}


