.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

mat-card {
  background-color: #f8f8f8;
  /* width: 400px; */
  /* height: 300px; */
  /* padding: 0 20px 0; */
  /* margin: 0 20px 0; */
}

.header {
  justify-content: space-between;
  display: flex;

  align-items: center;
  justify-content:left;
}

img {
  vertical-align: middle;
  display: inline-block;
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.name {
  display: inline-block;
  padding-left: 20px;
  color: #0190B0;

}

.tag {
  font-size: 12px;
  margin-bottom: -10px;
}

.tagContent {
  font-size: 14px;
}

.mat-button{
  background-color: #0190B0;
  color: #ffff;
}

.item {
  width: auto;
}
