<div class="grid">
  <div class="item" *ngFor="let medic of options">
    <mat-card id="medicCard{{medic.cardId}}">
      <div class="info"  (click)="selectHour(medic)">
        <div class="header">
          <img src="../../assets/medic_img.png" alt="Avatar">
          <div class="name">
            <h3>{{medic.lastName}} {{medic.firstName}}</h3>
          </div>
        </div>
        <div class="tag">
          <p>Specializare:</p>
        </div>
        <div class="tagContent">
          <p>{{medic.specialization}}</p>
        </div>
        <div class="tag">
          <p>Locatia:</p>
        </div>
        <div class="tagContent">
          <p>{{medic.judet}}</p>
        </div>
        <div class="tag">
          <p>Ora:</p>
        </div>
        <div class="tagContent" *ngIf="medic.ora === ''">
          <p>-</p>
        </div>
        <div class="tagContent" *ngIf="medic.ora !== ''">
          <p>{{medic.ora}}</p>
        </div>
      </div>
    </mat-card>
  </div>


  <!-- <div class="item">
    <mat-card>
      <img src="../../assets/medic_img.png" alt="Avatar">
      <div class="name">
        <h3>Nume Prenume</h3>
      </div>
      <div class="tag">
        <p>Specializare:</p>
      </div>
      <div class="tagContent">
        <p>Specializarea medicului</p>
      </div>
    </mat-card>
  </div>
  <div class="item">
    <mat-card>
      <img src="../../assets/medic_img.png" alt="Avatar">
      <div class="name">
        <h3>Nume Prenume</h3>
      </div>
      <div class="tag">
        <p>Specializare:</p>
      </div>
      <div class="tagContent">
        <p>Specializarea medicului</p>
      </div>
    </mat-card>
  </div>
  <div class="item">
    <mat-card>
      <img src="../../assets/medic_img.png" alt="Avatar">
      <div class="name">
        <h3>Nume Prenume</h3>
      </div>
      <div class="tag">
        <p>Specializare:</p>
      </div>
      <div class="tagContent">
        <p>Specializarea medicului</p>
      </div>

    </mat-card>
  </div> -->
</div>
