<div class="dialog">
  <form  [formGroup]="form" (submit)="onSavePost()" #postForm="ngForm">
  <h2 mat-dialog-title>{{this.data.name}}</h2>
  <div mat-dialog-content>
    <button *ngIf="this.form.get('pdf').value === null" mat-stroked-button type="button" (click)="fileUpload.click()">Alege fisier</button>
    <input type="file" #fileUpload (change)="onPdfPicked($event)">
    <div class="image-preview" *ngIf="this.form.get('pdf').value !== null">
      <h4>{{this.form.get('pdf').value.name}}</h4>
    </div>
  </div>
  <div mat-dialog-actions *ngIf="this.form.get('pdf').value !== null">
    <button mat-raised-button color="warn" [mat-dialog-close]="false">Inapoi</button>
    <button mat-button type='submit' [mat-dialog-close]="[true]" cdkFocusInitial>Incarcare</button>
  </div>
  </form>
</div>
