.mat-button{
  background-color: #0190B0;
  color: #ffff;
}
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;

}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 200px;
}

mat-spinner {
  margin: auto
}


.problema {
  display: flex;
}

mat-expansion-panel {
  margin-top: 10px;
}

h4 {
  font-weight: bold;
  /* font-size: 13px; */
  margin-right: 5px;
}

mat-panel-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}



@media screen and (max-width: 1000px){

}
