Programari
<div class="programare">
  <mat-card>
    <form  [formGroup]="form" (submit)="onSavePost()" #postForm="ngForm" *ngIf="!isLoading">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input
          matInput
          type="text"
          name="first_name"
          [formControlName] = "'first_name'"
          placeholder="First Name">
          <mat-error *ngIf="form.get('first_name').invalid">Your first name</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Nameee</mat-label>
        <input
          matInput
          type="text"
          name="last_name"
          [formControlName] = "'last_name'"
          placeholder="Last Name">
          <mat-hint>Hint</mat-hint>
          <mat-error *ngIf="form.get('last_name').invalid">Your last name</mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="accent"
        type="submit">Save post</button>
    </form>
  </mat-card>

</div>

