.button {
  padding: 5px 5px 5px;
  display: inline;
}

mat-dialog-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-form-field {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mat-button{
  background-color: #0190B0;
  color: #ffff;
}

mat-option {
  color: #0190B0;
}


h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0190B0;
}

a {
  text-decoration: none;
  color: #ffff;
}
