<form [formGroup]="form" (submit)="onReset()">
  <mat-card>
    <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input
      autocomplete="username"
      matInput
      type="email"
      name="email"
      [formControlName] = "'email'"
      placeholder="Email">
    <mat-error *ngIf="form.get('email').invalid">Introduceti email-ul dumneavoastra.</mat-error>
    </mat-form-field>
    <mat-slide-toggle
    formControlName="isMedic"
    >Sunteti medic?
  </mat-slide-toggle>
    <div class="buttons">
      <div class="button">
        <button
          mat-button
          color="accent"
          type="submit">Reseteaza parola
        </button>
      </div>
    </div>
  </mat-card>
    </form>

