<div class="center">
  <form [formGroup]="form" (submit)="onChange()">
    <mat-card>
      <mat-card-title class="center">Reseteaza parola de acces</mat-card-title>
      <br/>
      <mat-card-subtitle class="center">Introduceti noua parola a contului</mat-card-subtitle>
      <form formGroupName="passwords">
      <mat-form-field appearance="outline">
      <mat-label>Parola</mat-label>
      <input
        autocomplete="password"
        matInput
        type="password"
        name="password"
        [formControlName] = "'password'"
        placeholder="Parola">
      <mat-error *ngIf="form.get('passwords.password').invalid">Introduceti o parola corecta.</mat-error>
      <!-- <mat-error *ngIf="passwordsForm.get('password').invalid">Introduceti o parola corecta.</mat-error> -->
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirmare parola</mat-label>
      <input
        autocomplete="password"
        matInput
        type="password"
        name="confirmPassword"
        [errorStateMatcher]="matcher"
        [formControlName] = "'confirmPassword'"
        placeholder="Confirmare parola">
        <!-- <mat-error *ngIf="form.get('confirmPassword').invalid">Cele doua parole nu corespund</mat-error> -->
        <mat-error *ngIf="form.get('passwords').hasError('notSame')">Cele doua parole nu corespund</mat-error>
    </mat-form-field>
  </form>
    <div class="buttons">
      <div class="button">
          <button
            mat-button
            color="accent"
            type="submit">Schimba Parola
        </button>
      </div>
    </div>
    </mat-card>
  </form>

</div>
