<!-- <form [formGroup]="form" (submit)="sendMessage()">
  <div class="note">
    <p>Mesaj:</p>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Scrie mesajul</mat-label>
    <textarea
      matInput
      placeholder="Mesaj"
      type="text"
      name="message"
      [formControlName] = "'message'"
    ></textarea>
  </mat-form-field>

  <mat-dialog-actions>
    <button mat-raised-button color="warn" >Inchide</button>
    <button
      mat-button
      type="submit"
      >Salveaza</button>
  </mat-dialog-actions>
</form>
 -->
