<div class="stark">
  <h1><b>Licenta Cabinet Medical</b></h1>
</div>
<div class="image">
  <img src="../../assets/home_image.jpg" class="center responsive">
</div>
<div class="text responsive">
  <h2 class="stark">
    <p>Platforma noastra va ofera posibilitatea de a avea acces la servicii medicale, rapid si simplu, doar printr-o apasare de buton!</p>
    <p>Venim in ajutorul dumneavoastra cu o aplicatie rapida si foarte usor de folosit, unde va puteti programa online sau fizic cu doar o apasare de buton!</p>
  </h2>
      <h3 class="right"><b>ECHIPA LICENTA CABINET MEDICAL</b></h3>
</div>
